<p> 
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p> 
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p> 
  <strong>Questions:</strong> 
</p>

<table> 
  <tr> 
    <th>Name</th>
    <th colspan='2'>Actions</th>
  </tr> 
  
  <% @test.questions.each do |question| %>
    <tr>
      <td><%= question.name%></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td>
        <%= link_to 'Delete', 
                    test_path(question.test),
                    method: :delete, 
                    data: { confirm: 'Are you sure?' } %>                
      </td>
    </tr>
  <% end %>  
</table> 

<p><%= link_to 'New question', new_test_question_path(@test) %></p>

<%= link_to 'Back', tests_path %>

